body {
	word-wrap: break-word;
	overflow-wrap: break-word;
	margin:auto;
	width: 100%;
	background-color: #B4CF9E;
	font-family: "Yu Gothic";

}

.main-contents {
	margin: 0px auto;
	background-color: white;
	height: 100%;
	width: 800px;
	padding: 10px 20px;
	font-family: "Yu Gothic";
}

.tweet-box {
	width: 400px;
	height: 56px;
}

.header {
	text-align: right;
	font-family: "Yu Gothic";
	text-align: right;
	padding: 20px, 20px;
}

.messageLink{
	display: inline-block;
	padding: 0.1em 0.3em;
	transition: all .3s;
	color:#7cd1a9;
}

.messageLink:hover {
	font-size: 20px;
	color:#64a6ff;
}
.messageLink:focus {
	color:#64a6ff;
}


.homeLink{
	display: inline-block;
	padding: 0.1em 0.3em;
	transition: all .3s;
	color:#7cd1a9;
}

.homeLink:hover {
	font-size: 20px;
	color:#64a6ff;
}
.homeLink:focus {
	color:#64a6ff;
}
.manegementLink{
	display: inline-block;
	padding: 0.1em 0.3em;
	transition: all .3s;
	color:#7cd1a9;
}

.manegementLink:hover {
	font-size: 20px;
	color:#64a6ff;
}
.manegementLink:focus {
	color:#64a6ff;
}
.logoutLink{
	display: inline-block;
	padding: 0.1em 0.3em;
	transition: all .3s;
	color:#7cd1a9;
}

.logoutLink:hover {
	font-size: 20px;
	color:#64a6ff;
}
.logoutLink:focus {
	color:#64a6ff;
}
.messageHome{
	display: inline-block;
	padding: 0.1em 0.3em;
	transition: all .3s;
	color:#7cd1a9;
}

.messageHome:hover {
	font-size: 20px;
	color:#64a6ff;
}
.messageHome:focus {
	color:#64a6ff;
}
.manegementHome{
	display: inline-block;
	padding: 0.1em 0.3em;
	transition: all .3s;
	color:#7cd1a9;
}

.manegementHome:hover {
	font-size: 20px;
	color:#64a6ff;
}
.manegementHome:focus {
	color:#64a6ff;
}
.manegementUser{
	display: inline-block;
	padding: 0.1em 0.3em;
	transition: all .3s;
	color:#7cd1a9;
}

.manegementUser:hover {
	font-size: 20px;
	color:#64a6ff;
}
.manegementUser:focus {
	color:#64a6ff;
}
.settingUser{
	display: inline-block;
	padding: 0.1em 0.3em;
	transition: all .3s;
	color:#7cd1a9;
}

.settingUser:hover {
	font-size: 20px;
	color:#64a6ff;
}
.settingUser:focus {
	color:#64a6ff;
}

.profile {
	text-align: center;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	height: 50px;
	margin-bottom: 10px;
}

.profile .name h2 {
	text-align: center;
	font-size: 30px;
	font-weight: 400px;
	line-height: 36px;;
	margin: 0px;
}

.profile .account h3 {
	text-align: center;
	font-size: 20px;
	line-height: 22px;
	font-weight: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.accessDate {
	text-align: center;
	font-size: 13px;
	margin-top: 20px;
	margin-bottom: 50px;
	font-weight: 100;
}
.accountName{
	font-size: 13px;
	font-weight: 100;
}

.form-area {
	margin-top: 00px;
	margin-right: 100px;
	margin-bottom: 00px;
	margin-left: 100px;
	background-color: #9ba88d;
}

.narrow {
	font-family: "Yu Gothic";
}

.message {
	font-family: "Yu Gothic";
}

input[type="submit"] {
	position: relative;
	max-width: 180px;
	color: white;
	-webkit-transition: none;
	transition: none;
	text-decoration: none !important;
	padding: 0.3em 0.8em;
	background-color: #5e7e2c;
	text-shadow: -0.px -0.5px 0.5px #5e8e2c;
	border-bottom: 0.3px 0.3px #5e7e2c;
	font-family: "Yu Gothic";
	display: innner-block;
	text-align: center;
	border-radius: 5px;
	margin: 1px auto;
}

input[type="submit"]:hover {
	margin-top: 3px;
	border-bottom: none;
	font-family: "Yu Gothic";
}

.cnt_area.cnt_danger {
	color: #FF0000;
}

.account {
	color: black;
	font-size: 20px;
	font-weight: 300px
}

.title-font {
	color: #6b6b6b;
	background-color: #9adcbd;
	font-size: 10px;
	border-radius: 3px;
}

.message-title {
	color: black;
	font-size: 18px;
	padding-bottom: 10px;
}

.category-font {
	color: #6b6b6b;
	background-color: #9adcbd;
	font-size: 10px;
	border-radius: 3px;
}

.message-category {
	color: black;
	font-size: 18px;
	margin-bottom: 10px;
}

.text-font {
	color: #6b6b6b;
	background-color: #9adcbd;
	font-size: 10px;
	border-radius: 3px;
}

.message-text {
	color: black;
	font-size: 18px;
}

.message .date {
	font-weight: lighter;
	color: gray;
	font: small-caption;
}

.copyright {
	text-align: center;
	margin: 0px auto;
	width: 800px;
}

label {
	display: block;
}

.errorMessages {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: red;
	font-family: "Yu Gothic";
}

.comments {
	text-align: left;
	border-left: thick solid #5e7e2c;
	padding-left: 20px;
	margin-left: 20px;
	margin-bottom: -2px;
	font-family: "Yu Gothic";
}

.tweet-box {
	background: #FFF;
	border: solid 2px #4d9999;
	border-radius: 8px;
	font-family: "Yu Gothic";
	padding: 0.5em 1em;
	margin: 0.5em 0;
}

.tweet-box:hover {
	border: solid 3px #5a98d6;
}

.tweet-box:focus {
	border: solid 3px #5a98d6;
	outline: none;
}

.create-title {
	background: #FFF;
	border: solid 2px #4d9999;
	border-radius: 8px;
	font-family: "Yu Gothic";
	padding: 0.5em 1em;
	margin: 2em 0;
	width: 300px;
}

.create-title:hover {
	border: solid 3px #5a98d6;
}

.create-title:focus {
	border: solid 3px #5a98d6;
	outline: none;
}

.create-category {
	width: 300px;
	background : #FFF;
	border: solid 2px #4d9999;
	border-radius: 8px;
	font-family: "Yu Gothic";
	background: #FFF;
}

.create-category:hover {
	border: solid 3px #5a98d6;
}

.create-category:focus {
	border: solid 3px #5a98d6;
	outline: none;
}

.message-text {
	word-wrap: break-word;
	overflow-wrap: break-word;
	font-family: "Yu Gothic";
}

ul.pagination {
	text-align: center;
	margin: 0px auto;
	width: 800px;
	padding: 40px 0px;
	margin: 0px;
	font-size: 15px;
}

ul.pagination li {
	display: inline;
}

ul.pagination li a {
	color: black;
	padding: 10px 10px;
	border: 1px solid #369;
	border-radius: 10px;
}

.pagination a:hover {
	background-color: #bbd5ee;
	color: #686868;
	font-size: 15px;
	border: 1px solid #039;
}